* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Segoe-UI-Regular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Segoe-UI-Bold";
  src: url(../css/fonts/segoeuib.ttf) format("truetype");
}
@font-face {
  font-family: "Segoe-UI-Regular";
  src: url(../css/fonts/segoeui.ttf) format("truetype");
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  max-width: 100%;
  border-bottom: 1.75px solid #000;
}
nav .logo {
  display: flex;
  margin-left: 33px;
  cursor: pointer;
}
nav .logo img {
  width: 73px;
  height: 73px;
}
nav .logo p {
  margin-top: 34px;
  margin-left: 12px;
  font-size: 16px;
}
nav .search-bar {
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 25px;
  background-position-x: 9px;
  background-color: #c4d0d3;
  border: 1px solid #cccccc;
  height: 44px;
  width: 604px;
  padding: 12px 20px 12px 40px;
  font-size: 16px;
  font-family: "Segoe-UI-Regular", sans-serif;
}
nav .links {
  width: 716px;
  align-items: center;
  justify-content: space-between;
  margin-right: 81px;
}
nav .links a {
  text-decoration: none;
  color: #000000;
  font-family: "Segoe-UI-Regular", sans-serif;
}
nav .links a:focus {
  font-family: "Segoe-UI-Bold", sans-serif;
}
nav .links img {
  width: 52px;
  height: 52px;
  margin-left: 12px;
}
nav .links .link-picture {
  display: flex;
  align-items: center;
}
nav .menu-mobile {
  cursor: pointer;
  display: none;
  flex-direction: column;
  margin-right: 30px;
  margin-top: 10px;
}
nav .menu-mobile .bar {
  height: 2px;
  width: 42px;
  background-color: #000;
  margin-bottom: 13.8px;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.mobile-nav {
  position: absolute;
  top: 93px;
  right: -10;
  display: flex;
  background-color: #fff;
  height: calc(100vh - 110px);
  width: 100%;
  flex-direction: column;
  z-index: 15;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 92px;
  max-width: 100%;
  background-color: #587c83;
  border: 1px solid #707070;
  color: #fff;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer .copyright {
  margin-left: 104px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .copyright p {
  margin: 0 auto;
}
.footer .footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer-links a {
  margin: 0 25px;
}
.footer .footer-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 103px;
}
.footer .footer-socials img {
  cursor: pointer;
  margin: 0 19px;
}
.footer .footer-socials .facebook {
  width: 44px;
  height: 44px;
}
.footer .footer-socials .instagram {
  width: 50px;
  height: 50px;
}
.footer .footer-socials .twitter {
  width: 49px;
  height: 49px;
}

@media screen and (max-width: 1660px) {
  .site-wrapper nav .search-bar {
    width: 504px;
  }
  .site-wrapper nav .links {
    width: 656px;
    margin-right: 51px;
  }
}
@media screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
  .site-wrapper nav {
    height: 93px;
  }
  .site-wrapper nav .logo {
    margin-left: 28px;
  }
  .site-wrapper nav .logo img {
    width: 45px;
    height: 45px;
    margin-top: 12px;
  }
  .site-wrapper nav .logo p {
    margin-top: 26px;
    margin-right: 8px;
  }
  .site-wrapper nav .links {
    width: 100vw;
    justify-content: space-evenly;
  }
  .site-wrapper nav .links img {
    width: 36px;
    height: 36px;
  }
  .site-wrapper nav .menu-mobile {
    display: flex;
  }
  .site-wrapper nav .search-bar {
    width: 298px;
    height: 23px;
    background-size: 17px;
    background-position-x: 6px;
    padding: 12px 20px 12px 32px;
    margin-right: 50px;
    margin-top: 8px;
    font-size: 13px;
  }
  .site-wrapper .footer {
    font-size: 11px;
  }
  .site-wrapper .footer .copyright {
    margin-left: 19px;
  }
  .site-wrapper .footer .footer-socials {
    margin-right: 24px;
  }
  .site-wrapper .footer .footer-socials img {
    margin: 0 7.5px;
  }
  .site-wrapper .footer .footer-socials .facebook {
    width: 22px;
    height: 22px;
  }
  .site-wrapper .footer .footer-socials .instagram {
    width: 25px;
    height: 25px;
  }
  .site-wrapper .footer .footer-socials .twitter {
    width: 25px;
    height: 25px;
  }
  .site-wrapper .mobile-nav {
    height: calc(100vh - 93px);
  }
}
@media screen and (max-width: 390px) {
  html {
    overflow-x: hidden;
  }
  .site-wrapper nav {
    height: 55px;
  }
  .site-wrapper nav .logo {
    margin-left: 16px;
  }
  .site-wrapper nav .logo img {
    width: 30px;
    height: 30px;
    margin-top: 18px;
  }
  .site-wrapper nav .logo p {
    margin-top: 26px;
    font-size: 13px;
    margin-left: 7px;
  }
  .site-wrapper nav .links {
    width: 100vw;
    justify-content: space-evenly;
  }
  .site-wrapper nav .menu-mobile {
    display: flex;
    margin-right: 14px;
    margin-bottom: 10px;
  }
  .site-wrapper nav .menu-mobile .bar {
    width: 33px;
    margin: 4px 0;
  }
  .site-wrapper nav .search-bar {
    width: 142px;
    height: 16px;
    background-size: 14px;
    background-position-x: 6px;
    padding: 12px 20px 12px 26px;
    margin-right: 20px;
    margin-top: 8px;
    font-size: 11px;
  }
  .site-wrapper .footer {
    font-size: 6px;
    height: 57px;
  }
  .site-wrapper .footer .copyright {
    margin-left: 17px;
  }
  .site-wrapper .footer .footer-socials {
    margin-right: 28px;
  }
  .site-wrapper .footer .footer-socials img {
    margin: 0 4px;
  }
  .site-wrapper .footer .footer-socials .facebook {
    width: 14px;
    height: 14px;
  }
  .site-wrapper .footer .footer-socials .instagram {
    width: 15px;
    height: 15px;
  }
  .site-wrapper .footer .footer-socials .twitter {
    width: 17px;
    height: 17px;
  }
  .site-wrapper .footer .footer-links a {
    margin: 0 8px;
  }
  .mobile-nav {
    position: absolute;
    height: calc(100vh - 55px);
  }
}
.home-hero {
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../images/home-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 78.125%;
  height: 530px;
  margin: 158px auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.home-hero .home-hero-text {
  margin-right: 240px;
}
.home-hero .home-hero-text h1 {
  font-family: "Segoe-UI-Bold", sans-serif;
  font-size: 32px;
}

.home-books-wrapper {
  max-width: 100%;
  margin-bottom: 188px;
  margin-top: 40px;
}

.home-books-boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 80px;
}
.home-books-boxes .home-book-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 413px;
}
.home-books-boxes .home-book-box img {
  width: 306px;
  height: 491px;
  object-fit: cover;
}
.home-books-boxes .home-book-box h3 {
  font-family: "Segoe-UI-Bold", sans-serif;
  font-size: 32px;
  margin-top: 46px;
}
.home-books-boxes .home-book-box a {
  padding: 24px 62px;
  border: 1px solid #000;
  margin-top: 46px;
  text-decoration: none;
  color: #000;
}
.home-books-boxes .home-book-box p {
  margin-top: 49px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .site-wrapper .home-hero {
    background: url(../images/home-hero.jpg);
    background-repeat: no-repeat;
    background-size: 273px 181px;
    background-color: #587c83;
    background-position: 81px center;
    height: 329px;
    width: 552px;
    margin-top: 88px;
    margin-bottom: 46px;
  }
  .site-wrapper .home-hero .home-hero-text {
    margin-right: 54px;
    margin-bottom: 56px;
  }
  .site-wrapper .home-hero .home-hero-text h1 {
    font-size: 12px;
  }
  .site-wrapper .home-hero .home-hero-text p {
    font-size: 7px;
  }
  .site-wrapper .home-books-wrapper {
    max-width: 100%;
    margin-bottom: 100px;
    margin-top: 66px;
  }
  .site-wrapper .home-books-boxes {
    justify-content: center;
    row-gap: 140px;
  }
  .site-wrapper .home-books-boxes .home-book-box {
    width: 413px;
  }
  .site-wrapper .home-books-boxes .home-book-box img {
    width: 185px;
    height: 282px;
  }
  .site-wrapper .home-books-boxes .home-book-box h3 {
    font-size: 11px;
    margin-top: 11px;
  }
  .site-wrapper .home-books-boxes .home-book-box a {
    padding: 17px 55px;
    margin-top: 11px;
    font-size: 12px;
  }
  .site-wrapper .home-books-boxes .home-book-box p {
    margin-top: 80px;
    text-align: center;
    font-size: 11px;
  }
}
@media screen and (max-width: 390px) {
  .site-wrapper .home-hero {
    background: url(../images/home-hero.jpg);
    background-repeat: no-repeat;
    background-size: 116px 77px;
    background-color: #587c83;
    background-position: 29px center;
    height: 193px;
    width: 316px;
    margin: 55px auto;
  }
  .site-wrapper .home-hero .home-hero-text {
    margin-right: 46px;
    margin-bottom: 34px;
  }
  .site-wrapper .home-hero .home-hero-text h1 {
    font-size: 6px;
  }
  .site-wrapper .home-hero .home-hero-text p {
    font-size: 6px;
  }
  .site-wrapper .home-books-wrapper {
    max-width: 100%;
    margin-bottom: 68px;
    margin-top: 61px;
  }
  .site-wrapper .home-books-boxes {
    justify-content: center;
    row-gap: 100px;
  }
  .site-wrapper .home-books-boxes .home-book-box {
    width: 413px;
  }
  .site-wrapper .home-books-boxes .home-book-box img {
    width: 66px;
    height: 99px;
  }
  .site-wrapper .home-books-boxes .home-book-box h3 {
    font-size: 6px;
    margin-top: -5px;
  }
  .site-wrapper .home-books-boxes .home-book-box a {
    padding: 11px 38px;
    margin-top: -5px;
    font-size: 6px;
  }
  .site-wrapper .home-books-boxes .home-book-box p {
    margin-top: 20px;
    text-align: center;
    font-size: 6px;
  }
}
.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 109px;
}
.about-wrapper .about-box {
  width: 81.6%;
  display: flex;
  justify-content: center;
  margin-top: 170px;
}
.about-wrapper .about-box img {
  width: 393px;
  height: 587px;
  object-fit: cover;
}
.about-wrapper .about-box .about-box-text {
  display: flex;
  flex-direction: column;
}
.about-wrapper .about-box .about-box-text h1 {
  font-size: 32px;
  font-family: "Segoe-UI-Bold", sans-serif;
  text-align: center;
  margin-top: -30px;
}
.about-wrapper .about-box .about-box-text h3 {
  font-size: 26px;
  font-family: "Segoe-UI-Bold", sans-serif;
  text-align: center;
  margin-top: 40px;
}
.about-wrapper .about-box .about-box-text p {
  font-family: "Segoe-UI-Bold", sans-serif;
  margin-left: 40px;
  margin-top: 61px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .site-wrapper .about-wrapper {
    margin-bottom: 109px;
  }
  .site-wrapper .about-wrapper .about-box {
    width: 82.6%;
    margin-top: 76px;
  }
  .site-wrapper .about-wrapper .about-box img {
    width: 215px;
    height: 373px;
  }
  .site-wrapper .about-wrapper .about-box .about-box-text h1 {
    font-size: 12px;
    margin-top: -10px;
    margin-left: 79px;
  }
  .site-wrapper .about-wrapper .about-box .about-box-text h3 {
    font-size: 8px;
    margin-top: 25px;
    margin-left: 79px;
  }
  .site-wrapper .about-wrapper .about-box .about-box-text p {
    font-size: 11px;
    margin-left: 79px;
    margin-top: 75px;
    text-align: center;
  }
  .site-wrapper .about-wrapper .about-box .about-box-text .first-about-box {
    margin-top: 33px;
  }
  .site-wrapper .about-wrapper .about-box .about-box-text .second-about-box {
    margin-top: 10px;
  }
}
@media screen and (max-width: 390px) {
  .site-wrapper .about-wrapper {
    margin-bottom: 190px;
  }
  .site-wrapper .about-wrapper .about-box {
    width: 72.8%;
    margin-top: 159px;
  }
  .site-wrapper .about-wrapper .about-box img {
    width: 73px;
    height: 132px;
  }
  .site-wrapper .about-wrapper .about-box .about-box-text {
    margin-top: -26px;
  }
  .site-wrapper .about-wrapper .about-box .about-box-text h1 {
    font-size: 6px;
    margin-left: 16px;
    margin-top: -10px;
  }
  .site-wrapper .about-wrapper .about-box .about-box-text h3 {
    font-size: 6px;
    margin-left: 16px;
    margin-top: 0px;
  }
  .site-wrapper .about-wrapper .about-box .about-box-text p {
    font-size: 6px;
    margin-left: 16px;
    margin-top: 0px;
  }
  .site-wrapper .about-wrapper .about-box .about-box-text .first-about-box {
    margin-top: 0px;
  }
  .site-wrapper .about-wrapper .about-box .about-box-text .second-about-box {
    margin-top: 18px;
  }
}
.books-wrapper {
  margin-top: 180px;
}
.books-wrapper .books-boxes-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 350px;
}
.books-wrapper .books-boxes-wrapper h1 {
  font-family: "Segoe-UI-Bold", sans-serif;
  font-size: 26px;
  margin-left: 77px;
}
.books-wrapper .books-boxes-wrapper .book-boxes-bookset {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 65px;
}
.books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box img {
  width: 223px;
  height: 246px;
  object-fit: cover;
}
.books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .books-img {
  width: 206px;
  height: 311px;
}
.books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .books-img-space {
  width: 238px;
  height: 238px;
}
.books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text-bookset {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin-left: 54px;
  margin-top: 60px;
}
.books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text-bookset h3 {
  font-family: "Segoe-UI-Bold", sans-serif;
  font-size: 16px;
  margin-top: 40px;
  margin-right: auto;
}
.books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text-bookset a {
  margin-right: auto;
  font-size: 16px;
  padding: 24px 62px;
  border: 1px solid #000;
  margin-top: 35px;
  text-decoration: none;
  color: #000;
}
.books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin-left: 54px;
}
.books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text h3 {
  font-family: "Segoe-UI-Bold", sans-serif;
  font-size: 16px;
  margin-top: 40px;
  margin-right: auto;
}
.books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text a {
  margin-right: auto;
  font-size: 16px;
  padding: 24px 62px;
  border: 1px solid #000;
  margin-top: 35px;
  text-decoration: none;
  color: #000;
}
.books-wrapper .books-boxes-wrapper .book-boxes {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 108px;
}
.books-wrapper .books-boxes-wrapper .book-boxes .book-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.books-wrapper .books-boxes-wrapper .book-boxes .book-box img {
  width: 223px;
  height: 246px;
  object-fit: cover;
}
.books-wrapper .books-boxes-wrapper .book-boxes .book-box .books-img {
  width: 206px;
  height: 311px;
}
.books-wrapper .books-boxes-wrapper .book-boxes .book-box .books-img-space {
  width: 238px;
  height: 238px;
}
.books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text-bookset {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin-left: 54px;
  margin-top: 60px;
}
.books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text-bookset h3 {
  font-family: "Segoe-UI-Bold", sans-serif;
  font-size: 16px;
  margin-top: 40px;
  margin-right: auto;
}
.books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text-bookset a {
  margin-right: auto;
  font-size: 16px;
  padding: 24px 62px;
  border: 1px solid #000;
  margin-top: 35px;
  text-decoration: none;
  color: #000;
}
.books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin-left: 54px;
}
.books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text h3 {
  font-family: "Segoe-UI-Bold", sans-serif;
  font-size: 16px;
  margin-top: 40px;
  margin-right: auto;
}
.books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text a {
  margin-right: auto;
  font-size: 16px;
  padding: 24px 62px;
  border: 1px solid #000;
  margin-top: 35px;
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 768px) {
  .site-wrapper .books-wrapper {
    margin-top: 90px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper {
    margin-bottom: 133px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper h1 {
    font-size: 12px;
    margin-left: 53px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset {
    flex-direction: column;
    margin-top: 44.5px;
    row-gap: 63.5px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text-bookset {
    width: 183px;
    margin-left: 27.5px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text-bookset p {
    font-size: 11px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text-bookset h3 {
    font-size: 12px;
    margin-top: 16px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text-bookset a {
    font-size: 11px;
    padding: 17px 55px;
    margin-top: 16px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text {
    width: 183px;
    margin-left: 27.5px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text p {
    font-size: 11px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text h3 {
    font-size: 12px;
    margin-top: 16px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text a {
    font-size: 11px;
    padding: 17px 55px;
    margin-top: 16px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset img {
    width: 118px;
    height: 130px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes {
    flex-direction: column;
    margin-top: 69px;
    row-gap: 63.5px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text-bookset {
    width: 183px;
    margin-left: 27.5px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text-bookset p {
    font-size: 11px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text-bookset h3 {
    font-size: 12px;
    margin-top: 16px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text-bookset a {
    font-size: 11px;
    padding: 17px 55px;
    margin-top: 16px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text {
    width: 183px;
    margin-left: 27.5px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text p {
    font-size: 11px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text h3 {
    font-size: 12px;
    margin-top: 16px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text a {
    font-size: 11px;
    padding: 17px 55px;
    margin-top: 16px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .books-img {
    width: 110px;
    height: 166px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .books-img-space {
    width: 125px;
    height: 125px;
    margin-top: -50px;
  }
}
@media screen and (max-width: 390px) {
  .site-wrapper .books-wrapper {
    margin-top: 49px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper {
    margin-bottom: 82px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper h1 {
    font-size: 6px;
    margin-left: 33px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset {
    flex-direction: column;
    margin-top: 0px;
    row-gap: 110px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box {
    margin-top: -20px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text-bookset {
    width: 101.5px;
    margin-left: 32.5px;
    margin-top: 10px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text-bookset p {
    font-size: 6px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text-bookset h3 {
    font-size: 6px;
    margin-top: 6px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text-bookset a {
    font-size: 6px;
    padding: 7.7px 17.3px;
    margin-top: 2px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text {
    width: 101.5px;
    margin-left: 54px;
    margin-top: 70px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text p {
    font-size: 6px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text h3 {
    font-size: 6px;
    margin-top: 10px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset .book-box .book-box-text a {
    font-size: 6px;
    padding: 7.7px 17.3px;
    margin-top: 6px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes-bookset img {
    width: 68px;
    height: 75px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes {
    flex-direction: column;
    margin-top: 0px;
    row-gap: 74px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .book-box {
    margin-top: -20px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text-bookset {
    width: 101.5px;
    margin-left: 32.5px;
    margin-top: 10px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text-bookset p {
    font-size: 6px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text-bookset h3 {
    font-size: 6px;
    margin-top: 6px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text-bookset a {
    font-size: 6px;
    padding: 7.7px 17.3px;
    margin-top: 2px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text {
    width: 101.5px;
    margin-left: 54px;
    margin-top: 70px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text p {
    font-size: 6px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text h3 {
    font-size: 6px;
    margin-top: 10px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .book-box .book-box-text a {
    font-size: 6px;
    padding: 7.7px 17.3px;
    margin-top: 6px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .books-img {
    width: 53px;
    height: 80px;
  }
  .site-wrapper .books-wrapper .books-boxes-wrapper .book-boxes .books-img-space {
    width: 71px;
    height: 71px;
    margin-top: 60px;
  }
}
.blog-wrapper {
  margin-top: 117px;
  margin-bottom: 15px;
}

.blog-boxes-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog-boxes-wrapper .blog-box {
  width: 1464px;
  height: 463px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #587c83;
  border: 1px solid #707070;
  margin-bottom: 125px;
}
.blog-boxes-wrapper .blog-box .blog-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-boxes-wrapper .blog-box .blog-img .blog-img1 {
  width: 250px;
  height: 380px;
  object-fit: cover;
  margin-left: 88px;
  border: none;
}
.blog-boxes-wrapper .blog-box .blog-img img {
  width: 662px;
  height: 463px;
  object-fit: cover;
  border-right: 1px solid #707070;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
}
.blog-boxes-wrapper .blog-box .blog-text {
  width: 802px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog-boxes-wrapper .blog-box .blog-text h1 {
  font-family: "Segoe-UI-Bold", sans-serif;
  font-size: 32px;
  color: #fff;
}
.blog-boxes-wrapper .blog-box .blog-text p {
  font-size: 16px;
  color: #fff;
  width: 413px;
  text-align: center;
  margin-top: 59px;
}
.blog-boxes-wrapper .blog-box .blog-text a {
  padding: 24px 67px;
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .site-wrapper .blog-wrapper {
    margin-top: 80px;
    margin-bottom: 63px;
  }
  .site-wrapper .blog-wrapper .blog-boxes-wrapper .blog-box {
    width: 552px;
    height: 229px;
    margin-bottom: 138px;
  }
  .site-wrapper .blog-wrapper .blog-boxes-wrapper .blog-box .blog-img .blog-img1 {
    width: 96px;
    height: 146px;
    margin-left: 45px;
  }
  .site-wrapper .blog-wrapper .blog-boxes-wrapper .blog-box .blog-img img {
    width: 300px;
    height: 229px;
  }
  .site-wrapper .blog-wrapper .blog-boxes-wrapper .blog-box .blog-text {
    width: 252px;
  }
  .site-wrapper .blog-wrapper .blog-boxes-wrapper .blog-box .blog-text h1 {
    font-size: 12px;
  }
  .site-wrapper .blog-wrapper .blog-boxes-wrapper .blog-box .blog-text p {
    font-size: 11px;
    width: 223px;
    margin-top: 4px;
  }
  .site-wrapper .blog-wrapper .blog-boxes-wrapper .blog-box .blog-text a {
    padding: 9px 11.5px;
    margin-top: 4px;
    font-size: 12px;
  }
}
@media screen and (max-width: 390px) {
  .site-wrapper .blog-wrapper {
    margin-top: 55px;
    margin-bottom: 137px;
  }
  .site-wrapper .blog-wrapper .blog-boxes-wrapper .blog-box {
    width: 318px;
    height: 118px;
    margin-bottom: 76px;
  }
  .site-wrapper .blog-wrapper .blog-boxes-wrapper .blog-box .blog-img .blog-img1 {
    width: 45px;
    height: 69px;
    margin-left: 18px;
  }
  .site-wrapper .blog-wrapper .blog-boxes-wrapper .blog-box .blog-img img {
    width: 165px;
    height: 118px;
  }
  .site-wrapper .blog-wrapper .blog-boxes-wrapper .blog-box .blog-text {
    width: 153px;
    margin-top: -10px;
  }
  .site-wrapper .blog-wrapper .blog-boxes-wrapper .blog-box .blog-text h1 {
    font-size: 6px;
  }
  .site-wrapper .blog-wrapper .blog-boxes-wrapper .blog-box .blog-text p {
    font-size: 6px;
    width: 146px;
    margin-top: -10px;
  }
  .site-wrapper .blog-wrapper .blog-boxes-wrapper .blog-box .blog-text a {
    padding: 7px 24px;
    margin-top: -10px;
    font-size: 6px;
  }
}
.february-wrapper {
  margin-top: 117px;
  margin-bottom: 15px;
}

.february-boxes-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.february-boxes-wrapper .february-box {
  position: relative;
  background-image: url("/images/february-favorites-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1464px;
  height: 463px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 125px;
}
.february-boxes-wrapper .february-box::before {
  content: "";
  background-color: rgba(88, 124, 131, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .february-boxes-wrapper .february-box {
    width: 552px;
    height: 229px;
    margin-bottom: 138px;
  }
}
@media screen and (max-width: 390px) {
  .february-boxes-wrapper .february-box {
    width: 318px;
    height: 118px;
    margin-bottom: 76px;
  }
}
.february-boxes-wrapper .february-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  width: 802px;
  text-align: center;
  color: #fff;
  z-index: 2;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .february-boxes-wrapper .february-text {
    width: 80%;
  }
  .february-boxes-wrapper .february-text h1 {
    font-size: 14px;
  }
  .february-boxes-wrapper .february-text h3 {
    font-size: 11px;
  }
  .february-boxes-wrapper .february-text p {
    font-size: 8px;
    margin-top: 4px;
  }
}
@media screen and (max-width: 390px) {
  .february-boxes-wrapper .february-text {
    width: 80%;
    margin-top: -10px;
  }
  .february-boxes-wrapper .february-text h1 {
    font-size: 6px;
  }
  .february-boxes-wrapper .february-text h3 {
    font-size: 6px;
  }
  .february-boxes-wrapper .february-text p {
    font-size: 6px;
    margin-top: -10px;
  }
}

.february-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 109px;
}
.february-text-wrapper .february-text-box {
  display: flex;
  justify-content: center;
  margin-top: 170px;
  width: 80%;
}
@media screen and (max-width: 768px) {
  .february-text-wrapper .february-text-box {
    width: 90%;
  }
}
@media screen and (max-width: 390px) {
  .february-text-wrapper .february-text-box {
    width: 90%;
  }
}
.february-text-wrapper .february-text-box img {
  width: 250px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .february-text-wrapper .february-text-box img {
    /* Adjust image size for tablet view */
    width: 150px;
  }
}
@media screen and (max-width: 390px) {
  .february-text-wrapper .february-text-box img {
    /* Adjust image size for mobile view */
    width: 70px;
  }
}
.february-text-wrapper .february-text-box .february-text-box2 {
  display: flex;
  flex-direction: column;
}
.february-text-wrapper .february-text-box .february-text-box2 h1 {
  font-size: 32px;
  font-family: "Segoe-UI-Bold", sans-serif;
  text-align: left;
  margin-top: -30px;
  margin-left: 40px;
}
.february-text-wrapper .february-text-box .february-text-box2 p {
  font-family: "Segoe-UI-Bold", sans-serif;
  margin-left: 40px;
  margin-top: 61px;
  font-size: 16px;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .february-text-wrapper .february-text-box .february-text-box2 h1 {
    font-size: 14px;
  }
  .february-text-wrapper .february-text-box .february-text-box2 p {
    font-size: 8px;
    margin-top: 4px;
  }
}
@media screen and (max-width: 390px) {
  .february-text-wrapper .february-text-box .february-text-box2 {
    margin-top: -10px;
  }
  .february-text-wrapper .february-text-box .february-text-box2 h1 {
    font-size: 6px;
  }
  .february-text-wrapper .february-text-box .february-text-box2 p {
    font-size: 6px;
    margin-top: -10px;
  }
}

.bookclubs-wrapper {
  margin-top: 117px;
  margin-bottom: 15px;
}

.bookclubs-boxes-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bookclubs-boxes-wrapper .bookclubs-box {
  position: relative;
  background-image: url("/images/book-club-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1464px;
  height: 463px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 125px;
}
.bookclubs-boxes-wrapper .bookclubs-box::before {
  content: "";
  background-color: rgba(88, 124, 131, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .bookclubs-boxes-wrapper .bookclubs-box {
    width: 552px;
    height: 229px;
    margin-bottom: 138px;
  }
}
@media screen and (max-width: 390px) {
  .bookclubs-boxes-wrapper .bookclubs-box {
    width: 318px;
    height: 118px;
    margin-bottom: 76px;
  }
}
.bookclubs-boxes-wrapper .bookclubs-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  width: 802px;
  text-align: center;
  color: #fff;
  z-index: 2;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .bookclubs-boxes-wrapper .bookclubs-text {
    width: 80%;
  }
  .bookclubs-boxes-wrapper .bookclubs-text h1 {
    font-size: 14px;
  }
  .bookclubs-boxes-wrapper .bookclubs-text h3 {
    font-size: 11px;
  }
  .bookclubs-boxes-wrapper .bookclubs-text p {
    font-size: 8px;
    margin-top: 4px;
  }
}
@media screen and (max-width: 390px) {
  .bookclubs-boxes-wrapper .bookclubs-text {
    width: 80%;
    margin-top: -10px;
  }
  .bookclubs-boxes-wrapper .bookclubs-text h1 {
    font-size: 6px;
  }
  .bookclubs-boxes-wrapper .bookclubs-text h3 {
    font-size: 6px;
  }
  .bookclubs-boxes-wrapper .bookclubs-text p {
    font-size: 6px;
    margin-top: -10px;
  }
}

.bookclubs-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.bookclubs-text-wrapper .bookclubs-text-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
}
@media screen and (max-width: 768px) {
  .bookclubs-text-wrapper .bookclubs-text-box {
    width: 90%;
  }
}
@media screen and (max-width: 390px) {
  .bookclubs-text-wrapper .bookclubs-text-box {
    width: 90%;
  }
}
.bookclubs-text-wrapper .bookclubs-text-box img {
  width: 500px;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .bookclubs-text-wrapper .bookclubs-text-box img {
    /* Adjust image size for tablet view */
    width: 250px;
  }
}
@media screen and (max-width: 390px) {
  .bookclubs-text-wrapper .bookclubs-text-box img {
    /* Adjust image size for mobile view */
    width: 100px;
  }
}
.bookclubs-text-wrapper .bookclubs-text-box .bookclubs-text-box2 {
  display: flex;
  flex-direction: column;
}
.bookclubs-text-wrapper .bookclubs-text-box .bookclubs-text-box2 h1 {
  font-size: 32px;
  font-family: "Segoe-UI-Bold", sans-serif;
  text-align: left;
  margin-top: -30px;
  margin-left: 40px;
}
.bookclubs-text-wrapper .bookclubs-text-box .bookclubs-text-box2 p {
  font-family: "Segoe-UI-Bold", sans-serif;
  margin-left: 40px;
  margin-top: 61px;
  font-size: 16px;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .bookclubs-text-wrapper .bookclubs-text-box .bookclubs-text-box2 h1 {
    font-size: 14px;
  }
  .bookclubs-text-wrapper .bookclubs-text-box .bookclubs-text-box2 p {
    font-size: 8px;
    margin-top: 4px;
  }
}
@media screen and (max-width: 390px) {
  .bookclubs-text-wrapper .bookclubs-text-box .bookclubs-text-box2 {
    margin-top: -10px;
  }
  .bookclubs-text-wrapper .bookclubs-text-box .bookclubs-text-box2 h1 {
    font-size: 6px;
  }
  .bookclubs-text-wrapper .bookclubs-text-box .bookclubs-text-box2 p {
    font-size: 6px;
    margin-top: -10px;
  }
}

.ereading-wrapper {
  margin-top: 117px;
  margin-bottom: 15px;
}

.ereading-boxes-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ereading-boxes-wrapper .ereading-box {
  position: relative;
  background-image: url("/images/eread-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1464px;
  height: 463px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 125px;
}
.ereading-boxes-wrapper .ereading-box::before {
  content: "";
  background-color: rgba(88, 124, 131, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .ereading-boxes-wrapper .ereading-box {
    width: 552px;
    height: 229px;
    margin-bottom: 138px;
  }
}
@media screen and (max-width: 390px) {
  .ereading-boxes-wrapper .ereading-box {
    width: 318px;
    height: 118px;
    margin-bottom: 76px;
  }
}
.ereading-boxes-wrapper .ereading-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  width: 802px;
  text-align: center;
  color: #fff;
  z-index: 2;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .ereading-boxes-wrapper .ereading-text {
    width: 80%;
  }
  .ereading-boxes-wrapper .ereading-text h1 {
    font-size: 14px;
  }
  .ereading-boxes-wrapper .ereading-text h3 {
    font-size: 11px;
  }
  .ereading-boxes-wrapper .ereading-text p {
    font-size: 8px;
    margin-top: 4px;
  }
}
@media screen and (max-width: 390px) {
  .ereading-boxes-wrapper .ereading-text {
    width: 80%;
    margin-top: -10px;
  }
  .ereading-boxes-wrapper .ereading-text h1 {
    font-size: 6px;
  }
  .ereading-boxes-wrapper .ereading-text h3 {
    font-size: 6px;
  }
  .ereading-boxes-wrapper .ereading-text p {
    font-size: 6px;
    margin-top: -10px;
  }
}

.ereading-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.ereading-text-wrapper .ereading-text-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
}
@media screen and (max-width: 768px) {
  .ereading-text-wrapper .ereading-text-box {
    width: 90%;
  }
}
@media screen and (max-width: 390px) {
  .ereading-text-wrapper .ereading-text-box {
    width: 90%;
  }
}
.ereading-text-wrapper .ereading-text-box img {
  width: 500px;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .ereading-text-wrapper .ereading-text-box img {
    /* Adjust image size for tablet view */
    width: 300px;
  }
}
@media screen and (max-width: 390px) {
  .ereading-text-wrapper .ereading-text-box img {
    /* Adjust image size for mobile view */
    width: 100px;
  }
}
.ereading-text-wrapper .ereading-text-box .ereading-text-box2 {
  display: flex;
  flex-direction: column;
}
.ereading-text-wrapper .ereading-text-box .ereading-text-box2 h1 {
  font-size: 32px;
  font-family: "Segoe-UI-Bold", sans-serif;
  text-align: left;
  margin-top: -30px;
  margin-left: 40px;
}
.ereading-text-wrapper .ereading-text-box .ereading-text-box2 p {
  font-family: "Segoe-UI-Bold", sans-serif;
  margin-left: 40px;
  margin-top: 61px;
  font-size: 16px;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .ereading-text-wrapper .ereading-text-box .ereading-text-box2 h1 {
    font-size: 14px;
  }
  .ereading-text-wrapper .ereading-text-box .ereading-text-box2 p {
    font-size: 8px;
    margin-top: 4px;
  }
}
@media screen and (max-width: 390px) {
  .ereading-text-wrapper .ereading-text-box .ereading-text-box2 {
    margin-top: -10px;
  }
  .ereading-text-wrapper .ereading-text-box .ereading-text-box2 h1 {
    font-size: 6px;
  }
  .ereading-text-wrapper .ereading-text-box .ereading-text-box2 p {
    font-size: 6px;
    margin-top: -10px;
  }
}
.feb-hero {
  background-image: linear-gradient(rgba(88, 124, 131, 0.7), rgba(88, 124, 131, 0.7)), url(../images/february-favorites-hero.jpg);
  background-size: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  margin: 140px auto;
  width: 1464px;
  height: 463px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feb-hero h1 {
  font-size: 32px;
  font-family: "Segoe-UI-Bold", sans-serif;
  margin-bottom: 58px;
}
.feb-hero h3 {
  font-size: 26px;
  font-family: "Segoe-UI-Bold", sans-serif;
  margin-bottom: 58px;
}
.feb-hero p {
  font-size: 16px;
  font-family: "Segoe-UI-Bold", sans-serif;
}

.feb-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}
.feb-wrapper .feb-box {
  display: flex;
  width: 1582px;
  margin: auto 0;
  margin-left: 120px;
  margin-bottom: 140px;
}
.feb-wrapper .feb-box img {
  width: 250px;
  height: 380px;
  object-fit: cover;
}
.feb-wrapper .feb-box .feb-text {
  margin-left: 35px;
}
.feb-wrapper .feb-box .feb-text h2 {
  font-size: 26px;
  font-family: "Segoe-UI-Bold", sans-serif;
}
.feb-wrapper .feb-box .feb-text p {
  font-size: 16px;
  margin-top: 58px;
  font-family: "Segoe-UI-Bold", sans-serif;
}

@media screen and (max-width: 768px) {
  .site-wrapper .feb-hero {
    margin: 77px auto 43px auto;
    width: 562px;
    height: 197px;
  }
  .site-wrapper .feb-hero h1 {
    font-size: 12px;
    margin-bottom: 25px;
  }
  .site-wrapper .feb-hero h3 {
    font-size: 11px;
    margin-bottom: 21px;
  }
  .site-wrapper .feb-hero p {
    font-size: 8px;
  }
  .site-wrapper .feb-wrapper {
    margin-bottom: 40px;
  }
  .site-wrapper .feb-wrapper .feb-box {
    width: 600px;
    margin-left: 40px;
    margin-bottom: 81px;
  }
  .site-wrapper .feb-wrapper .feb-box img {
    width: 99px;
    height: 150px;
  }
  .site-wrapper .feb-wrapper .feb-box .feb-text {
    margin-left: 35px;
    margin-top: -16px;
  }
  .site-wrapper .feb-wrapper .feb-box .feb-text h2 {
    font-size: 12px;
  }
  .site-wrapper .feb-wrapper .feb-box .feb-text p {
    font-size: 11px;
    margin-top: 35px;
  }
  .site-wrapper .feb-wrapper .feb-box .feb-text span {
    display: none;
  }
}
@media screen and (max-width: 390px) {
  .site-wrapper .feb-hero {
    margin: 47px auto 43px auto;
    width: 310px;
    height: 119px;
  }
  .site-wrapper .feb-hero h1 {
    font-size: 6px;
    margin-bottom: 16px;
  }
  .site-wrapper .feb-hero h3 {
    font-size: 6px;
    margin-bottom: 16px;
  }
  .site-wrapper .feb-hero p {
    font-size: 6px;
  }
  .site-wrapper .feb-wrapper {
    margin-bottom: 242px;
  }
  .site-wrapper .feb-wrapper .feb-box {
    width: 288px;
    margin-left: 0px;
    margin-bottom: 50px;
  }
  .site-wrapper .feb-wrapper .feb-box img {
    width: 50px;
    height: 76px;
  }
  .site-wrapper .feb-wrapper .feb-box .feb-text {
    margin-left: 19px;
    margin-top: -2px;
  }
  .site-wrapper .feb-wrapper .feb-box .feb-text h2 {
    font-size: 6px;
  }
  .site-wrapper .feb-wrapper .feb-box .feb-text p {
    font-size: 6px;
    margin-top: 17px;
  }
  .site-wrapper .feb-wrapper .feb-box .feb-text span {
    display: none;
  }
}
.blogpost-hero-bookclub {
  background-image: linear-gradient(rgba(88, 124, 131, 0.7), rgba(88, 124, 131, 0.7)), url(../images/book-club-hero.jpg);
  background-size: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  margin: 140px auto;
  width: 1464px;
  height: 463px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blogpost-hero-bookclub h1 {
  font-size: 32px;
  font-family: "Segoe-UI-Bold", sans-serif;
  margin-bottom: 58px;
}
.blogpost-hero-bookclub h3 {
  font-size: 26px;
  font-family: "Segoe-UI-Bold", sans-serif;
  margin-bottom: 58px;
}

.blogpost-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 105px;
}
.blogpost-wrapper .blogpost-box {
  display: flex;
  width: 1559px;
  margin: auto 0;
  margin-left: 90px;
  margin-bottom: 500px;
}
.blogpost-wrapper .blogpost-box img {
  width: 622px;
  height: 463px;
  object-fit: cover;
  border: 1px solid #707070;
}
.blogpost-wrapper .blogpost-box p {
  font-size: 16px;
  margin-left: 39px;
  font-family: "Segoe-UI-Regular", sans-serif;
}

@media screen and (max-width: 768px) {
  .site-wrapper .blogpost-hero-bookclub {
    margin: 63px auto 83px auto;
    width: 539px;
    height: 196px;
  }
  .site-wrapper .blogpost-hero-bookclub h1 {
    font-size: 12px;
    margin-bottom: 26px;
  }
  .site-wrapper .blogpost-hero-bookclub h3 {
    font-size: 11px;
    margin-bottom: 26px;
  }
  .site-wrapper .blogpost-wrapper {
    margin-bottom: 0px;
  }
  .site-wrapper .blogpost-wrapper .blogpost-box {
    width: 565px;
    margin-left: 20px;
    margin-bottom: 300px;
  }
  .site-wrapper .blogpost-wrapper .blogpost-box img {
    width: 260px;
    height: 205px;
  }
  .site-wrapper .blogpost-wrapper .blogpost-box p {
    font-size: 11px;
    margin-left: 44px;
  }
  .site-wrapper .blogpost-wrapper .blogpost-box span {
    display: none;
  }
}
@media screen and (max-width: 390px) {
  .site-wrapper .blogpost-hero-bookclub {
    margin: 44px auto 33px auto;
    width: 308px;
    height: 123px;
  }
  .site-wrapper .blogpost-hero-bookclub h1 {
    font-size: 6px;
    margin-bottom: 16px;
  }
  .site-wrapper .blogpost-hero-bookclub h3 {
    font-size: 6px;
    margin-bottom: 16px;
  }
  .site-wrapper .blogpost-wrapper {
    margin-bottom: 0px;
  }
  .site-wrapper .blogpost-wrapper .blogpost-box {
    width: 295px;
    margin-left: 0px;
    margin-bottom: 200px;
  }
  .site-wrapper .blogpost-wrapper .blogpost-box img {
    width: 115px;
    height: 95px;
  }
  .site-wrapper .blogpost-wrapper .blogpost-box p {
    font-size: 6px;
    margin-left: 24px;
  }
  .site-wrapper .blogpost-wrapper .blogpost-box span {
    display: flex;
  }
}
.blogpost-hero-ereading {
  background-image: linear-gradient(rgba(88, 124, 131, 0.7), rgba(88, 124, 131, 0.7)), url(../images/eread-hero.jpg);
  background-size: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  margin: 140px auto;
  width: 1464px;
  height: 463px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blogpost-hero-ereading h1 {
  font-size: 32px;
  font-family: "Segoe-UI-Bold", sans-serif;
  margin-bottom: 58px;
}
.blogpost-hero-ereading h3 {
  font-size: 26px;
  font-family: "Segoe-UI-Bold", sans-serif;
  margin-bottom: 58px;
}

.blogpost-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 105px;
}
.blogpost-wrapper .blogpost-box {
  display: flex;
  width: 1559px;
  margin: auto 0;
  margin-left: 90px;
  margin-bottom: 500px;
}
.blogpost-wrapper .blogpost-box img {
  width: 622px;
  height: 463px;
  object-fit: cover;
  border: 1px solid #707070;
}
.blogpost-wrapper .blogpost-box p {
  font-size: 16px;
  margin-left: 39px;
  font-family: "Segoe-UI-Regular", sans-serif;
}

@media screen and (max-width: 768px) {
  .site-wrapper .blogpost-hero-ereading {
    margin: 63px auto 83px auto;
    width: 539px;
    height: 196px;
  }
  .site-wrapper .blogpost-hero-ereading h1 {
    font-size: 12px;
    margin-bottom: 26px;
  }
  .site-wrapper .blogpost-hero-ereading h3 {
    font-size: 11px;
    margin-bottom: 26px;
  }
  .site-wrapper .blogpost-wrapper {
    margin-bottom: 0px;
  }
  .site-wrapper .blogpost-wrapper .blogpost-box {
    width: 565px;
    margin-left: 20px;
    margin-bottom: 300px;
  }
  .site-wrapper .blogpost-wrapper .blogpost-box img {
    width: 260px;
    height: 205px;
  }
  .site-wrapper .blogpost-wrapper .blogpost-box p {
    font-size: 11px;
    margin-left: 44px;
  }
  .site-wrapper .blogpost-wrapper .blogpost-box span {
    display: none;
  }
}
@media screen and (max-width: 390px) {
  .site-wrapper .blogpost-hero-ereading {
    margin: 44px auto 33px auto;
    width: 308px;
    height: 123px;
  }
  .site-wrapper .blogpost-hero-ereading h1 {
    font-size: 6px;
    margin-bottom: 16px;
  }
  .site-wrapper .blogpost-hero-ereading h3 {
    font-size: 6px;
    margin-bottom: 16px;
  }
  .site-wrapper .blogpost-wrapper {
    margin-bottom: 0px;
  }
  .site-wrapper .blogpost-wrapper .blogpost-box {
    width: 295px;
    margin-left: 0px;
    margin-bottom: 200px;
  }
  .site-wrapper .blogpost-wrapper .blogpost-box img {
    width: 115px;
    height: 95px;
  }
  .site-wrapper .blogpost-wrapper .blogpost-box p {
    font-size: 6px;
    margin-left: 24px;
  }
  .site-wrapper .blogpost-wrapper .blogpost-box span {
    display: flex;
  }
}

/*# sourceMappingURL=styles.css.map */
