* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Segoe-UI-Regular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Segoe-UI-Bold";
  src: url(../css/fonts/segoeuib.ttf) format("truetype");
}
@font-face {
  font-family: "Segoe-UI-Regular";
  src: url(../css/fonts/segoeui.ttf) format("truetype");
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  max-width: 100%;
  border-bottom: 1.75px solid #000;
}
nav .logo {
  display: flex;
  margin-left: 33px;
  cursor: pointer;
}
nav .logo img {
  width: 73px;
  height: 73px;
}
nav .logo p {
  margin-top: 34px;
  margin-left: 12px;
  font-size: 16px;
}
nav .search-bar {
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 25px;
  background-position-x: 9px;
  background-color: #c4d0d3;
  border: 1px solid #cccccc;
  height: 44px;
  width: 604px;
  padding: 12px 20px 12px 40px;
  font-size: 16px;
  font-family: "Segoe-UI-Regular", sans-serif;
}
nav .links {
  width: 716px;
  align-items: center;
  justify-content: space-between;
  margin-right: 81px;
}
nav .links a {
  text-decoration: none;
  color: #000000;
  font-family: "Segoe-UI-Regular", sans-serif;
}
nav .links a:focus {
  font-family: "Segoe-UI-Bold", sans-serif;
}
nav .links img {
  width: 52px;
  height: 52px;
  margin-left: 12px;
}
nav .links .link-picture {
  display: flex;
  align-items: center;
}
nav .menu-mobile {
  cursor: pointer;
  display: none;
  flex-direction: column;
  margin-right: 30px;
  margin-top: 10px;
}
nav .menu-mobile .bar {
  height: 2px;
  width: 42px;
  background-color: #000;
  margin-bottom: 13.8px;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.mobile-nav {
  position: absolute;
  top: 93px;
  right: -10;
  display: flex;
  background-color: #fff;
  height: calc(100vh - 110px);
  width: 100%;
  flex-direction: column;
  z-index: 15;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 92px;
  max-width: 100%;
  background-color: #587c83;
  border: 1px solid #707070;
  color: #fff;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer .copyright {
  margin-left: 104px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .copyright p {
  margin: 0 auto;
}
.footer .footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer-links a {
  margin: 0 25px;
}
.footer .footer-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 103px;
}
.footer .footer-socials img {
  cursor: pointer;
  margin: 0 19px;
}
.footer .footer-socials .facebook {
  width: 44px;
  height: 44px;
}
.footer .footer-socials .instagram {
  width: 50px;
  height: 50px;
}
.footer .footer-socials .twitter {
  width: 49px;
  height: 49px;
}

@media screen and (max-width: 1660px) {
  .site-wrapper nav .search-bar {
    width: 504px;
  }
  .site-wrapper nav .links {
    width: 656px;
    margin-right: 51px;
  }
}
@media screen and (max-width: 768px) {
  .site-wrapper nav {
    height: 93px;
  }
  .site-wrapper nav .logo {
    margin-left: 28px;
  }
  .site-wrapper nav .logo img {
    width: 45px;
    height: 45px;
    margin-top: 12px;
  }
  .site-wrapper nav .logo p {
    margin-top: 26px;
    margin-right: 8px;
  }
  .site-wrapper nav .links {
    width: 100vw;
    justify-content: space-evenly;
  }
  .site-wrapper nav .links img {
    width: 36px;
    height: 36px;
  }
  .site-wrapper nav .menu-mobile {
    display: flex;
  }
  .site-wrapper nav .search-bar {
    width: 298px;
    height: 23px;
    background-size: 17px;
    background-position-x: 6px;
    padding: 12px 20px 12px 32px;
    margin-right: 50px;
    margin-top: 8px;
    font-size: 13px;
  }
  .site-wrapper .footer {
    font-size: 11px;
  }
  .site-wrapper .footer .copyright {
    margin-left: 19px;
  }
  .site-wrapper .footer .footer-socials {
    margin-right: 24px;
  }
  .site-wrapper .footer .footer-socials img {
    margin: 0 7.5px;
  }
  .site-wrapper .footer .footer-socials .facebook {
    width: 22px;
    height: 22px;
  }
  .site-wrapper .footer .footer-socials .instagram {
    width: 25px;
    height: 25px;
  }
  .site-wrapper .footer .footer-socials .twitter {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 390px) {
  .site-wrapper nav {
    height: 55px;
  }
  .site-wrapper nav .logo {
    margin-left: 16px;
  }
  .site-wrapper nav .logo img {
    width: 30px;
    height: 30px;
    margin-top: 18px;
  }
  .site-wrapper nav .logo p {
    margin-top: 26px;
    font-size: 13px;
    margin-left: 7px;
  }
  .site-wrapper nav .links {
    width: 100vw;
    justify-content: space-evenly;
  }
  .site-wrapper nav .menu-mobile {
    display: flex;
    margin-right: 14px;
    margin-bottom: 10px;
  }
  .site-wrapper nav .menu-mobile .bar {
    width: 33px;
    margin: 4px 0;
  }
  .site-wrapper nav .search-bar {
    width: 142px;
    height: 16px;
    background-size: 14px;
    background-position-x: 6px;
    padding: 12px 20px 12px 26px;
    margin-right: 20px;
    margin-top: 8px;
    font-size: 11px;
  }
  .site-wrapper .footer {
    font-size: 6px;
    height: 57px;
  }
  .site-wrapper .footer .copyright {
    margin-left: 17px;
  }
  .site-wrapper .footer .footer-socials {
    margin-right: 28px;
  }
  .site-wrapper .footer .footer-socials img {
    margin: 0 4px;
  }
  .site-wrapper .footer .footer-socials .facebook {
    width: 14px;
    height: 14px;
  }
  .site-wrapper .footer .footer-socials .instagram {
    width: 15px;
    height: 15px;
  }
  .site-wrapper .footer .footer-socials .twitter {
    width: 17px;
    height: 17px;
  }
  .site-wrapper .footer .footer-links a {
    margin: 0 8px;
  }
  .mobile-nav {
    position: absolute;
    top: 55px;
  }
}

/*# sourceMappingURL=styles.css.map */
