.blog-wrapper {
  margin-top: 117px;
  margin-bottom: 15px;
}

.blog-boxes-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .blog-box {
    width: 1464px;
    height: 463px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #587c83;
    border: 1px solid #707070;
    margin-bottom: 125px;
    .blog-img {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .blog-img1 {
        width: 250px;
        height: 380px;
        object-fit: cover;
        margin-left: 88px;
        border: none;
      }
      img {
        width: 662px;
        height: 463px;
        object-fit: cover;
        border-right: 1px solid #707070;
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
      }
    }
    .blog-text {
      width: 802px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        font-family: $SegoeBold;
        font-size: 32px;
        color: #fff;
      }
      p {
        font-size: 16px;
        color: #fff;
        width: 413px;
        text-align: center;
        margin-top: 59px;
      }
      a {
        padding: 24px 67px;
        border: 1px solid #fff;
        text-decoration: none;
        color: #fff;
        margin-top: 40px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .site-wrapper {
    .blog-wrapper {
      margin-top: 80px;
      margin-bottom: 63px;
      .blog-boxes-wrapper {
        .blog-box {
          width: 552px;
          height: 229px;
          margin-bottom: 138px;
          .blog-img {
            .blog-img1 {
              width: 96px;
              height: 146px;
              margin-left: 45px;
            }
            img {
              width: 300px;
              height: 229px;
            }
          }
          .blog-text {
            width: 252px;
            h1 {
              font-size: 12px;
            }
            p {
              font-size: 11px;
              width: 223px;
              margin-top: 4px;
            }
            a {
              padding: 9px 11.5px;
              margin-top: 4px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
    .site-wrapper {
      .blog-wrapper {
        margin-top: 55px;
        margin-bottom: 137px;
        .blog-boxes-wrapper {
          .blog-box {
            width: 318px;
            height: 118px;
            margin-bottom: 76px;
            .blog-img {
              .blog-img1 {
                width: 45px;
                height: 69px;
                margin-left: 18px;
              }
              img {
                width: 165px;
                height: 118px;
              }
            }
            .blog-text {
              width: 153px;
              margin-top: -10px;
              h1 {
                font-size: 6px;
              }
              p {
                font-size: 6px;
                width: 146px;
                margin-top: -10px;
              }
              a {
                padding: 7px 24px;
                margin-top: -10px;
                font-size: 6px;
              }
            }
          }
        }
      }
    }
  }