.home-hero {
  background-image: linear-gradient(
      rgba(88, 124, 131, 0.6),
      rgba(88, 124, 131, 0.6)
    ),
    url(../images/home-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 78.125%;
  height: 530px;
  margin: 158px auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  .home-hero-text {
    margin-right: 240px;
    h1 {
      font-family: $SegoeBold;
      font-size: 32px;
    }
  }
}

.home-books-wrapper {
  max-width: 100%;
  margin-bottom: 188px;
  margin-top: 40px;
}
.home-books-boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 80px;
  .home-book-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 413px;
    img {
      width: 306px;
      height: 491px;
      object-fit: cover;
    }
    h3 {
      font-family: $SegoeBold;
      font-size: 32px;
      margin-top: 46px;
    }
    a {
      padding: 24px 62px;
      border: 1px solid #000;
      margin-top: 46px;
      text-decoration: none;
      color: #000;
    }
    p {
      margin-top: 49px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .site-wrapper {
    .home-hero {
      background: url(../images/home-hero.jpg);
      background-repeat: no-repeat;
      background-size: 273px 181px;
      background-color: #587c83;
      background-position: 81px center;
      height: 329px;
      width: 552px;
      margin-top: 88px;
      margin-bottom: 46px;
      .home-hero-text {
        margin-right: 54px;
        margin-bottom: 56px;
        h1 {
          font-size: 12px;
        }
        p {
          font-size: 7px;
        }
      }
    }
    .home-books-wrapper {
      max-width: 100%;
      margin-bottom: 100px;
      margin-top: 66px;
    }
    .home-books-boxes {
      justify-content: center;
      row-gap: 140px;
      .home-book-box {
        width: 413px;
        img {
          width: 185px;
          height: 282px;
        }
        h3 {
          font-size: 11px;
          margin-top: 11px;
        }
        a {
          padding: 17px 55px;
          margin-top: 11px;
          font-size: 12px;
        }
        p {
          margin-top: 80px;
          text-align: center;
          font-size: 11px;
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .site-wrapper {
    .home-hero {
      background: url(../images/home-hero.jpg);
      background-repeat: no-repeat;
      background-size: 116px 77px;
      background-color: #587c83;
      background-position: 29px center;
      height: 193px;
      width: 316px;
      margin: 55px auto;
      .home-hero-text {
        margin-right: 46px;
        margin-bottom: 34px;
        h1 {
          font-size: 6px;
        }
        p {
          font-size: 6px;
        }
      }
    }
    .home-books-wrapper {
      max-width: 100%;
      margin-bottom: 68px;
      margin-top: 61px;
    }
    .home-books-boxes {
      justify-content: center;
      row-gap: 100px;
      .home-book-box {
        width: 413px;
        img {
          width: 66px;
          height: 99px;
        }
        h3 {
          font-size: 6px;
          margin-top: -5px;
        }
        a {
          padding: 11px 38px;
          margin-top: -5px;
          font-size: 6px;
        }
        p {
          margin-top: 20px;
          text-align: center;
          font-size: 6px;
        }
      }
    }
  }
}
